## Data Manipulation with Pandas Part 2

In [1]:
import numpy as np
import pandas as pd

### Combining Datasets

#### Concat and Append

In [2]:
"""
write a function that creates a dataframe of a 
certain format
"""

def make_df(cols, ind):
    data = {c: [str(c) + str(i) for i in ind]
           for c in cols}
    return pd.DataFrame(data, ind)

In [4]:
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [5]:
"""
code that allows us to display multiple dataframes
side by side
"""

class display(object):
    
    template = """<div style="float: left;
                   padding: 10px;">
                  <p style='font-family:"Courier New",
                   Courier, monospace'>{0}</p>{1}
                  </div>"""
    
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [7]:
# recall concatenation of numpy arrays
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
np.concatenate([x, y, z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
x = [[1, 2], [3, 4]]

In [9]:
x

[[1, 2], [3, 4]]

In [13]:
np.concatenate([x, x], axis=1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

In [14]:
# use pd.concat() for series or dataframes
series1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
series2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])

In [15]:
series1

1    A
2    B
3    C
dtype: object

In [16]:
series2

4    D
5    E
6    F
dtype: object

In [17]:
pd.concat([series1, series2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [18]:
# use custom function to make dataframes
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])

In [21]:
# use display to show dfs
display()

df1
    A   B
1  A1  B1
2  A2  B2

df2
    A   B
3  A3  B3
4  A4  B4

pd.concat([df1, df2])
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

    A   B
3  A3  B3
4  A4  B4